body{
    text-align: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #e8e7e7;
}
.container{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-bottom: 90px;
}
.box{
    position: relative;
    display: flex;
    padding: 20px;
    font-size: 20px;
    height: 120px;
}
#men{
    width: 115px;
    height: 115px;
    top: 100px;
    position: absolute;
}
#home{
    position: relative;
    width: 280px;
    height: 200px;

}
.box h1{
    position: absolute;
    right: 30px;
    top: 100px;
    font-size: 20px;
}
#btn{
    width: 100px;
    height: 40px;
    font-size: 14px;
    background-color: #09f109;
    border-radius: 10px;
    font-weight: bold;
    margin-right: 10px;
    border-color: transparent;
    cursor: pointer;
}
#btn1{
    width: 100px;
    height: 40px;
    font-size: 14px;
    background-color: rgb(246, 2, 43);
    border-radius: 10px;
    font-weight: bold;
    border-color: transparent;
    cursor: pointer;
}